body {
    background-color: #D2D2D2;
}

.container {
    margin: 0 auto;
    width:  90%;
}

.row {
    margin: 1px auto;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLeft,
.headerRight,
.headerMiddle {
    height: 60px;
}

.headerLeft {
    background-color: #53B1A2;
}

.headerRight {
    background-color: #f7ecb5;
}

.headerMiddle {
    background-color: #9acfea;
}

.heroFind,
.smallFind,
.boxRow1-1,
.boxRow1-2,
.boxRow1-3,
.boxRow1-4,
.boxRow2-1,
.boxRow2-2,
.boxRow2-3,
.boxRow2-4,
.boxRow3-1,
.boxRow3-2,
.boxRow3-3,
.boxRow3-4 {
    height: 360px;
}

.footer {
    height: 250px;
}

.heroFind {
    background-color: #3e8f3e;
    /*background-image: url("imgs/heroFindTuscanVilla.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 50%;*/
}

.smallFind {
    background-color: #5bc0de;
    /*background-image: url("imgs/smallFindTuscanVilla.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: 50% 50%;*/
}

.boxRow1-1 {
    background-color: #761c19;
}

.boxRow1-2 {
    background-color: aqua;
}

.boxRow1-3 {
    background-color: violet;
}

.boxRow1-4 {
    background-color: purple;
}

.boxRow2-1 {
    background-color: blue;
}

.boxRow2-2 {
    background-color: red;
}

.boxRow2-3 {
    background-color: green;
}

.boxRow2-4 {
    background-color: blue;
}

.boxRow3-1 {
    background-color: lightsalmon;
}

.boxRow3-2 {
    background-color: darkgoldenrod;
}

.boxRow3-3 {
    background-color: olive;
}

.boxRow3-4 {
    background-color: aqua;
}

.footer {
    background-color: #E4E4E4;
}

/****************************
Media Queries
*****************************/

/*@media only screen and (max-width: 1450px) {*/
    /*.container {*/
        /*width: 900px;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 1200px) {*/
    /*.container {*/
        /*width: 90%;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 991px) {*/
    /*.container {*/
        /*width: 690px;*/
    /*}*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
    /*!*.container {*!*/
        /*!*!*margin-left: 20px;*!*!*/
        /*!*!*margin-right: 20px;*!*!*/
        /*!*width: 90%;*!*/
    /*!*}*!*/
    /*.heroFind,*/
    /*.smallFind,*/
    /*.boxRow1-1,*/
    /*.boxRow1-2,*/
    /*.boxRow1-3,*/
    /*.boxRow1-4,*/
    /*.boxRow2-1,*/
    /*.boxRow2-2,*/
    /*.boxRow2-3,*/
    /*.boxRow2-4,*/
    /*.boxRow3-1,*/
    /*.boxRow3-2,*/
    /*.boxRow3-3,*/
    /*.boxRow3-4,*/
    /*.footer {*/
        /*height: 320px;*/
    /*}*/
/*}*/
